@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    /* overflow-x: hidden; */
}



html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

hr.rounded {
    border: 1px solid #6A0ED6;
    border-radius: 5px;
    min-width: 50px;
    max-width: 50px;
    margin-bottom: 20px;
  }

 #header{
     position: fixed;
     z-index: 1000;
     left: 0;
     top: 0;
     width: 100vw;
     height: auto;
     backdrop-filter: blur(3px);
 }

 #header span{
    color:white
}

 #header .header{
     min-height: 8vh;
     background-color: transparent;
     transition: .3s ease background-color;
 }
 #header .nav-bar{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     height: 100%;
     max-width: 1300px;
     padding: 0 10px;
 }
#header .nav-bar h1{
    font-size: 2rem;
    color:whitesmoke;
}

#header .nav-bar .logo img{

}


#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(19, 1, 20);
    width: 100vw; 
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active{
    left: 0;
}

#header .nav-list ul a{
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    letter-spacing: .3rem;
    text-decoration: none;
    color: whitesmoke;
    /* text-transform: uppercase; */
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
    color:rgba(245, 245, 245, 0.062)
}
#header .phone{
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
#header .phone img{
    margin: 10px;
}

#header .phone h2{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    color:rgb(245, 245, 245)
}


#header .nav-list ul li:hover a{
    color:#a15dee;
    transition: .5s ease color;
}

#header .hamburger{
    z-index: 100;
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
    margin-top: 5px;
}

#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: whitesmoke;
    z-index: -1;
    }

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: whitesmoke;
    transition: .3s ease;
    transition-property: top,bottom; 
    ;
}

#header .hamburger .bar::after{
    top: 8px;
}

#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::before{
    bottom: 0;
}

#header .hamburger.active .bar::after{
    top: 0;
}

#hero{
    box-shadow: #483455 0 0 0.5rem;
    background-image: url(./img/hero-background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after{
    content: '';
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,212,255,0) 100%);
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .3;
    z-index: -1;
}
#hero .hero{
    color: white;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;

}
#hero .hero-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero h1, h2{
    font-size: 3rem;
    color: #C89DFB;
    font-weight: lighter;
}

#hero h2{
    color: white;
    font-size: 10vw;
    font-weight: bolder;
    display: inline-block;
}

#hero p{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 0;
    min-width: 100%;
    text-align: center;
    line-height: 2;
    
}

#hero .hero .buttons{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
#hero .contact{
    
    background-color: #812AE9;
    padding: 8px;
    font-size: 1.5rem;
    border-radius: 1000px;
    width: 80%;
    text-align: center;
    margin: 10px 10px 10px 0px;
    box-shadow: 0 0 40px #812AE9;
    max-width: 350px;
    font-weight: lighter;
    transition: .5s ease background-color, .2s ease box-shadow;

}
#hero .offer{
    background-color: transparent;
    border: solid 1px #812AE9;
    box-shadow: none;
}

#hero .contact:hover{
    box-shadow: 0px 0px 50px 7px #812AE9;
    background-color: white;
    color: #812AE9;
    cursor: pointer;
}

#hero .contact.offer:hover{
    box-shadow: none;
    background-color: white;
    color: #812AE9;
    cursor: pointer;
}



.glow {
    font-weight: 50;
    letter-spacing: 0.05em;
	animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
from {
	text-shadow: 0 0 20px #a15dee, 0 0 0px white
}

to {
    text-shadow: 0 0 50px #a15dee, 0 0 5px white
} 
}

@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.3);
    }
}

#about{
    box-shadow: #483455 0 0 0.5rem;
    background-image: url(./img/aboutme-background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#about .about {
	text-align: center;
	max-width: 1400px;
	margin: 0 auto;
	padding: 100px 10px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#about .col-left {
    width: 85%;
}
#about .col-right {
    display: flex;
    flex-direction: column;
	width: 90%;
    align-items: flex-start;
}
#about .col-right h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    display: block;
    font-size: 8vw;
    /* font-size: 3.8vw; */
    position: relative;
    color: white;
}
#about .col-right p{
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 3rem;
    color: white;
}
#about .col-left .about-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: -1;
    box-shadow: -15px -15px 1px #ffffff15;
}

#about .col-right .photos{
    background-color: #812AE9;
    color: white;
    padding: 12px;
    font-size: 1.5rem;
    border-radius: 1000px;
    width: 70%;
    text-align: center;
    box-shadow: 0 0 40px #812AE9;
    max-width: 350px;
    font-weight: lighter;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease background-color, .2s ease box-shadow;
}

#about .col-right .photos:hover{
    box-shadow: 0px 0px 50px 7px #812AE9;
    background-color: white;
    color: #812AE9;
    cursor: pointer;
}

#movie{
    background-image: url(./img/movie-background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#movie .movie {
	text-align: center;
	max-width: 1400px;
	margin: 0 auto;
	padding: 100px 10px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#movie .movie h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    display: block;
    font-size: 8vw;
    /* font-size: 3.8vw; */
    position: relative;
    color: white;
    margin-bottom: 30px;
}
#movie .movie .iframe-container{
    overflow: hidden;
    position: relative;
    width:80%;
    box-shadow: 0 0 100px #802ae93b;

}

#movie .movie .iframe-container::after {
    padding-top: 150.25%;
    display: block;
    content: '';
}

#movie .movie .iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
#services {
    background: linear-gradient(45deg, rgba(0, 255, 242, 0.300) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 50%, rgba(189, 143, 245, 0.301) 100%);

}
#services .services {
	text-align: center;
	max-width: 1400px;
	margin: 0 auto;
	padding: 100px 20px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


#services .title{
    justify-content: center;
    text-align: center;
    margin: 30px;
}

#services .title h1{
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #483455;
}

#services .title  h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    display: block;
    width: fit-content;
    font-size: 5vw;
    position: relative;
    color: #483455;

}

#services .all-services .service-col{
    display: flex;
}

#services .all-services .service-col .service-item{
    /* border: #7700FF33 solid 1px; */
    box-shadow: 0px 0px 20px #1020AF1A;
    margin: 10px 10px;
    max-width: 380px;
    background-color: white;
    width: 50%;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#services .all-services .service-col .service-item img{
    margin-top:10px;
    width: 50%;
}

#services .all-services .service-col .service-item h1{
    margin-top: 10px;
    font-size: calc(12px + .5vw);
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    color: #483455;
}

#services .all-services .service-col .service-item p{
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    font-size: 1rem;
    margin: 10px;
}

#photos .photos{
    flex-direction: column;
    justify-content: flex-start;
}

#photos .photos .all-photos{
    width: 100%;
    display: flex;
}



#photos .photo-elem{
    height: 25%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* animation: photoChange 6s ease; */
}

@keyframes photoChange {
    0%{opacity: 0}
    20%{opacity: 1}
    80%{opacity: 1}
    100%{opacity: 0}
}

/* #photos .photo-elem.active{
    display: flex;
    background-image: url("./img/photo1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
} */

@keyframes animate {
    0%{
        background-image: url("./img/photo1.jpg");
    }
    25%{
        background-image: url("./img/photo2.jpg");
    }
    50%{
        background-image: url("./img/photo3.jpg");
    }
    75%{
        background-image: url("./img/photo4.jpg");
    }
    100%{
        background-image: url("./img/photo5.jpg");
    }
}

#photos{
    background: linear-gradient(135deg, rgba(0, 255, 242, 0.300) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 50%, rgba(189, 143, 245, 0.301) 100%);
}
#photos .gallery h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    display: block;
    width: fit-content;
    font-size: 5vw;
    position: relative;
    color: #483455;
    margin: 30px;
}

#photos .gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 100px; */
    max-width: 1400px;
    margin-bottom: 50px;
    width: 100%;
}

#photos .gallery .items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 27px;

}

#photos .gallery .items .roll{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0px;
    overflow: auto;
}

#photos .gallery .items .roll::-webkit-scrollbar {
    display: none;
  }

#photos .gallery .items .roll-elem{
    display: flex;
    justify-content: center;    
    margin: 3px 3px;
    position: relative;
    background-size: cover;
    background-position: center;

}


#photos .gallery .items .roll-elem:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

#photos .photos .roll .roll-elem img{
    max-width: 100%;
    max-height: 200px;
    animation-name: unzoom;
    animation-direction: alternate-reverse;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;


}

#photos .photos .roll .roll-elem img:hover{
    cursor: pointer;
    animation-name: zoom1;
    animation-direction: alternate-reverse;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    animation: zoom2 0.3s ease-in-out;
    backdrop-filter: blur(3px);
    z-index: 10;
}

@keyframes zoom2 {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.modal img {
    width: 90%;
    object-fit: cover;
}

@keyframes zoom {
    0%{transform: scale(1.1); opacity: 0}
    100%{transform: scale(1); opacity: 1}
}
@keyframes zoom1 {
    0%{transform: scale(1); opacity: 0.6}
    100%{transform: scale(1); opacity: 1}
}

@keyframes unzoom {
    0%{transform: scale(1); opacity: 1}
    100%{transform: scale(1); opacity: 0.6}
}

#recommendation{
    box-shadow: #483455 0 0 0.5rem;
    background-image: url(./img/aboutme-background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#recommendation .recommendation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#recommendation .recommendation h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    display: block;
    font-size: 8vw;
    position: relative;
    color: white;
    margin-bottom: 30px;
}

#recommendation .recommendation .columns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#recommendation .recommendation .columns img{
    width: 50%;
}

#recommendation .recommendation .items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#recommendation .recommendation .items .recommendation-item.active{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid  #7C29E2;
    box-shadow: 0 0 100px #7c29e234;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    justify-content: center;
}
#recommendation .recommendation .items .recommendation-item{
    display: none;
    flex-direction: column;
    animation: zoom 1s ease;
}

#recommendation .recommendation .items .recommendation-item h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    width: fit-content;
    font-size: calc(30px + .5vw);
    color:#C89DFB;
    margin: 5px 10px;
}

#recommendation .recommendation .items .recommendation-item p{
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 3rem;
    color: white;
    margin: 10px;
}

#recommendation .recommendation .items .left-slide, .right-slide{
    font-size: 14px;
    background-color: #c79dfb60;
    box-shadow: 0 0 10px #c79dfb60;
    border-radius: 50%;
    padding: 15px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    transition: .3s ease background-color;
    position: relative;
    z-index: 10;
    margin: 10px
}
#recommendation .recommendation .items .left-slide:hover, .right-slide:hover{
    background-color: #483455;
    cursor: pointer;
}

#contact{
    background-image: url(./img/movie-background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#contact .contact{
    display: flex;
    flex-direction: column;
    padding: 100px 20px 0px 20px;
}

#contact .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .title h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    display: block;
    font-size: 8vw;
    position: relative;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}
#contact .title h2{
    font-size: 3rem;
    color: #C89DFB;
    font-weight: lighter;
    text-align: center;
}
#contact .contact-columns{
    display: flex;
    flex-direction: column;
}

#contact .contact-columns .elements{
    margin: 20px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact .contact-columns .elements h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #483455;
    text-align: center;
    margin-top: 20px;
}


#contact .contact-columns .elements .contact-elem{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin: 10px 25px;
    width: 80%;
} 

#contact .contact-columns .elements hr.rounded{
    margin-top: 20px;
}

#contact .contact-columns .elements .contact-elem .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .contact-columns .elements .contact-elem .info {
    margin: 10px;
}

#contact .contact-columns .elements .contact-elem .info h1{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color:#C89DFB;
    text-align: left;
    margin-top: 0px;
}

#contact .contact-columns .elements .contact-elem .info h2{
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: white;
}
#contact .contact-columns .email-background{
    background-color: rgba(255, 255, 255, 0.15);
}

#contact .contact-columns .email{
    display: flex;
    flex-direction: column;;
    margin: 20px 40px;
    margin-bottom: 0px;
}

#contact .contact-columns .email label{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: white;
}

#contact input[type=text], select, textarea, input[type=date] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    /* -webkit-appearance: none; */
}

#contact input:focus, select:focus, textarea:focus{
    outline: none;
    box-shadow: 0px 0px 2px #483455;
}

#contact .email .columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact .email .columns .col-left{
    margin-right: 10px;
}


#contact .email .button{
    display: flex;
    margin: 30px 50px;
    padding: 8px;
    background-color: #812AE9;
    box-shadow: 0 0 40px #812AE9;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    transition: .5s ease background-color, .2s ease box-shadow;
    min-width: 165px;
    font-size: 1.5rem;
    border: none;
}


#contact .email .button:hover{
    background-color: white;
    color: #6A0ED6;
    box-shadow: 0px 0px 5px #6A0ED6;
    cursor: pointer;
}

#contact .end-rabbit{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#contact .end-rabbit img{
    object-position: 30px 60px;
}

@media only screen and (min-width: 1200px){

    * {
        overflow-x: visible
    }
    
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;

        
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.5rem;
    }
    #header .nav-list ul a::after{
        display: none;
    }
    
    #hero .hero{
        align-items: center;
        justify-content: flex-start;
        padding-left: 150px;
    }
    #hero .hero .hero-div{
        align-items: flex-start;
    }
    #hero .hero h2{
        font-size: 8rem;
    }

    #hero .hero h1{
        font-size: 4rem;
        position: relative;
        top: 25px;
    }
    #hero .hero p{
        text-align: justify;
    }
    
    #hero .hero .buttons{
        flex-wrap: nowrap;
    }
    #header .phone{
        display: flex;
    }

    #about .col-left {
        width: 50%;
    }

    #about .col-left .about-img img{
        box-shadow: -30px -30px 1px #ffffff15;
    }

    #about .col-right {
        width: 40%;
        align-items: flex-start;
    }

    #about .about {
        flex-direction: row;
    }

    #about .col-right .photos{
        margin-left: 0;
        margin-right: 0;
    }

    #services .title h1{
        font-size: 3rem;
    }

    #movie .movie h1{
        font-size: 5rem;
    }

    #movie .movie .iframe-container::after {
        padding-top: 56.25%;
    }
    
    #services .title  h2{
        font-size: 5rem;
    }
    #about .col-right h1{
        font-size: 5rem;
        width: fit-content;
    }

    #services .all-services .service-col{
        flex-direction: column;
        width: 33%;
        margin: 0 15px
    }

    #services .all-services .service-col .service-item h1{
        font-size: 2rem;
        display: inline-block;
    }
    
    #services .all-services .service-col .service-item p{
        font-size: 1.3rem;
        max-width: 80%;
        display: inline-block;
    }

    #services .all-services .service-col .service-item img{
        width: 30%;
    }
    

    #services .all-services{
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-width: 850px;
        margin-top: 50px;
    }

    #services .all-services .service-col .service-item{
        /* box-shadow: 0px 0px 10px #1020AF1A; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        flex: 1 1 0;
        min-height: 250px;
        margin: 15px 0px;
        }

    #upupup{
        position: relative;
        bottom: 30px
    }
    

    #services .all-services .service-item:hover{
        box-shadow: 0px 0px 20px #7c29e24d;
        transition: .3s box-shadow;
    }

    #photos .gallery h1{
        font-size: 5rem;
    }


    #photos .gallery .items{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
    }
    
    #photos .gallery .items .roll{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 5px 0px;
        justify-content: center;
    }
    
    #photos .gallery .items .roll-elem{
        display: flex;
        justify-content: center;    
        margin: 0px 5px;
        height: 200px;
        width: 200px;
        background-size: cover;
        background-position: center;
    }

    #photos .gallery .items .roll-elem{
        display: flex;
        justify-content: center;    
        margin: 0px 5px;
        flex-shrink: 1;
    
    }
    
    #photos .photos .roll .roll-elem img{
        max-width: 100%;
        max-height: 100%;
        animation-name: unzoom;
        animation-direction: alternate-reverse;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    
    }
    
    #photos .photos .roll .roll-elem:hover{
        animation-name: zoom1;
        animation-direction: alternate-reverse;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    
    .modal {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.733);
        animation: zoom2 0.3s ease-in-out;
        backdrop-filter: blur(3px);
        z-index: 10;
    }
    
    @keyframes zoom2 {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    .modal img {
        width: 50%;
        object-fit: cover;
    }

    #photos .recommendation h1{
        font-size: 5rem;
    }

    #recommendation .recommendation h1{
        font-size: 5rem;
    }
    #recommendation .recommendation .items{
        width: 40%;
        
        /* box-shadow: 0 0 10px white; */
    }
    #recommendation .recommendation .items .recommendation-item{
        width: 100%;
        margin: 30px;
    }

    #recommendation .recommendation .items .recommendation-item.active{
        width: 1200px;

    }

    #recommendation .recommendation .columns{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    #recommendation .recommendation .columns img{
        width: 20%;
        margin: 30px;
    }
    


    #contact .contact-columns{
        display: flex;
        flex-direction: row-reverse;
        margin: 20px;
    }
    
    #contact .contact-columns .elements{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 20px 100px 20px;
    }

    #contact .contact-columns .email{
    }

    #contact .contact .elements h1{
        font-size: 2rem;
    }

    #contact .contact .elements h2{
        font-size: 1.5rem;
    }

    #contact .title h1{
        font-size: 5rem;
    }
    #contact .title h2{
        font-size: 2rem;

    }
    #photos .photo-elem.active{
        background-attachment: fixed;
    }

    #contact .contact-columns .elements .contact-elem .info h2 {
        font-size: 2rem;
    }
}